<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snappretail.trackingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".Applications"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trackingapp"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".DialogMessageActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent"/>

        <receiver
            android:name=".GPS_status_Broadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AutoStart"
            android:directBootAware="true"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" />

        <activity
            android:name=".LocationServiceActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Splashactivity"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginactivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>